<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
        <form action="">
            <label for="title">Blog title:</label>
            <input type="text" name="" id="title" required>
            <label for="excerpt">Excerpt</label>
            <input type="text" name="" id="excerpt">
            <label for="body">Body</label>
            <textarea name="" id="body" cols="30" rows="10"></textarea>
        </form>
    </div>
</body>
</html>