@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Noto Serif', serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: crimson;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.blog {
    width: 70%;
    nargin: 5vh auto;
}